!!!
%html
  %head
    %title Divergence Analysis App
    %link(rel="stylesheet" href="/styles.css")
    %script{:type => 'text/javascript', :src => '/jquery-1.11.1.min.js'}
    %script{:type => 'text/javascript', :src => '/js.js'}
  %body
    #wrapper
      #content
        .menu
          %table
            %tr
              %td{:class => 'default'}
                %a{:href => '/'} Home
            %tr
              %td{:class => 'default'}
                %a{:href => '/counts'} Counts
            %tr
              %td{:class => 'default'}
                %a{:href => '/tables'} Tables
            %tr
              %td{:class => 'default'}
                %a{:href => '/feeds'} Feeds
            %tr
              %td{:class => 'default'}
                %a{:href => '/servers'} Servers
        =yield