body {
	background:lightgrey;
}

h1 {
	text-align:center;
}

h4 {
	text-align:center;
	color: darkred;
}

a {
	color: black;
}
a:hover {
	color: darkred;
}

.tt8_update {
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  
}

table {
 margin: 0 auto;
 width: 70%;
 border: 1px solid black;
 background: #E4EDB7;
}

.menu {
	border: 1px solid black;
	float: left;
	position:fixed;
	padding: 5px;
	background: #EBEBEB;
}

.export {
	float: right;
	width: 10%;
}
.export_fixed {
	border: 1px solid black;
	position: fixed;
	padding: 5px;
	background: #EBEBEB;
}
.button_cell {
	text-align:center;
	white-space: nowrap;
}

.table_cell {
	width: 99%;
}

.server_td {
	width: 50%;
}

.default {
	background:#96957E;
}

.ok {
	background:#33CC33;
}

.wait {
	background:yellow;
}


.err {
	background:#FF0000;
}

th {
	background: darkgrey;
}

td {

	border: 1px solid black;
}

.server_select {
	text-align: center;
}

